button.btns {
  padding: 0 0.6rem 0.4rem 0.6rem;
  line-height: 90%;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

button.minus {
  font-size: 50px;
  line-height: 10%;
  padding: 0.5rem 0.6rem 1.3rem 0.6rem;
}

button.inc-dec {
  line-height: 95%;
  font-size: 25px;
  padding: 0.1rem 0.7rem 0.4rem 0.7rem;
}

.none {
  display: none;
}

p.invalid {
  color: #da0101;
  border: 1px solid;
  width: max-content;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 2px 0 3px 0;
  box-shadow: 0 0 5px #ff7171;
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li label {
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 5px 12px;
  background-color: grey;
}
